

/* Global Styles */
body {
  margin: 20px;
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar-nav a {
  font-weight: normal;
  text-align: center;
}
.navbar {
  background-color: #343a40; /* Dark background color */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-link {
  color: #fff; /* White text color */
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #086cee; /* Color on hover or focus */
}

.navbar-nav {
  margin: auto;
  text-align: center;
}

.nav-item {
  padding: 0 15px;
  margin-right: 20px;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 25px;
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 22px;
  font-weight: bold;
}

.container {
  margin-top: 100px;
  text-align: center;
}


/* Button Styles */
.button {
  display: inline-block;
  padding: 20px 35px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Footer Styles */
.footer-dark {
  background-color: #343a40;
  color: white;
  font-size: 14px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
}

.footer-dark ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.footer-dark li {
  margin-right: 10px;
  color: white;
}

/* Interview Preparation Page Styles */
.interviewprep-container {
  text-align: center;
  padding: 50px;
}

.interviewprep-container h2 {
  margin-bottom: 30px;
}

.interviewprep-container ul {
  list-style: none;
  padding: 0;
}

.interviewprep-container ul li {
  margin-bottom: 10px;
}

/* Contact Page Styles */
.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.contact-form,
.company-info {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form {
  width: 45%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.company-info {
  width: 45%;
  text-align: center;
}

.company-info h2 {
  margin-bottom: 30px;
  color: #333;
}

.company-info p {
  margin: 15px 0;
  color: #666;
}

/* Thank You Page Styles */
.thankyou-container {
  text-align: center;
}
