

body {
    url('{{ url_for('static', filename='Telework.jpeg') }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.button {
    display: inline-block;
    padding: 20px 45px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
} 

 .navbar {
    background-color: black;
    border-radius: 15px; 
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav .nav-item.nav-link.active {
  color: white;
 }  /* fix this needs to blue when users hover over the nav tab */


 /* .navbar-toggler-icon {
    background-color: #fff; 
    border-radius: 50%;   */
    /* This makes the toggle icon round */

 /* } */

.navbar-nav a {
    margin: 0 120px; 
    color: white;
  }
  

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}


/* Responsive styles */
@media (max-width: 767px) {
  body {
    padding-top: 56px;

  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0.5rem;
  }

  .navbar-brand{
    color: white;
  }
}

body {
    margin: 0;
    padding: 0;
  }
  
  .footer {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; 
  }
  
  .footer li {
    margin-right: 10px;
  }
  
  
  
  
  