<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>about</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <header>
      <h1>Job Search Application Summary</h1>
  </header>
  <section>
      <h2>About the Application</h2>
      <p>
          The Job Search Application is a user-friendly platform designed to help job seekers find their dream jobs and simplify the job application process. It provides a range of features to enhance the job search experience.
      </p>
  </section>
  <section>
      <h2>Key Features</h2>
      <ul>
          <li><strong>Job Listings:</strong> Access a comprehensive list of job postings from various industries and locations.</li>
          <li><strong>Job Search:</strong> Easily search for jobs based on keywords, location, salary, and more.</li>
          <li><strong>Job Details:</strong> View detailed information about each job, including job title, description, and application instructions.</li>
          <li><strong>Job Application:</strong> Submit job applications directly through the platform, saving time and effort.</li>
          <!-- Add more key features as needed -->
      </ul>
  </section>
  <section>
      <h2>How to Use</h2>
      <p>
          To use the Job Search Application:
      </p>
      <ol>
          <li>Create an account or log in to your existing account.</li>
          <li>Search for jobs using relevant keywords, location, or other filters.</li>
          <li>Explore job listings and click on a job to view details.</li>
          <li>Submit job applications by following the provided instructions.</li>
      </ol>
  </section>
  <section>
      <h2>Contact Information</h2>
      <p>
          If you have any questions or need assistance, please contact our support team at support@example.com.
      </p>
  </section>
        
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>