<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>TeleWork</title>
  </head>
  <style>

    body {
      background-image: url('{{ url_for('static', filename='Telework.jpeg') }}');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    
    
    .navbar-light .navbar-nav .nav-link {
      color: black;
    }
    
    .navbar-light .navbar-nav .nav-item.active .nav-link {
      background-color: blue;
      color: blue;
    }
    
    
    </style>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">TeleWork.Inc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link active" href="{{ url_for('about') }}">About Us</a>
              <a class="nav-item nav-link" href="{{ url_for('job_search') }}">Job Search</a>
              <a class="nav-item nav-link" href="{{ url_for('interview') }}">Interview Preparation</a>
              <a class="nav-item nav-link" href="{{ url_for('contactus') }}">Contact Us</a>
          </div>
      </div>
  </nav>
  
    

  <div class="container">
      <h1>Find the Best Jobs to Work Remote!</h1>
      <h2>Want Interview Prep? Sign up to get help today!</h2>
      <h3>Find a Remote Job so you can work anywhere!</h3>
  </div>
    
    <button class="button">Browse Remote Jobs</button>
    
    <div class="footer footer-dark">
      <footer>
        <p>&copy; 2023 TeleWork.Inc</p>
        <ul>
          <li>Adeola Ogundipe</li>
          <li>Amanda Candies</li>
          <li>Kanesha Mcgraw</li>
        </ul>
      </footer>
    </div>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    
    </body>
    </html> 



